<table class="summary-table">
    <thead>
        <tr>
            <th>
                General
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                CHID
            </td>
            <td>
                {{chid}}
            </td>
        </tr>
        <tr>
            <td>
                Simulation Time
            </td>
            <td>
                {{renderFloat simulation_length}} s
            </td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th>
                Fire
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                # Burners
            </td>
            <td>
                {{renderInteger n_burners}}
            </td>
        </tr>

        <tr>
            <td>
                Total Max. HRR
            </td>
            <td>
                {{renderHrr total_max_hrr}} kW
            </td>
        </tr>
        <tr>
            <td>
                Heat of Combustion
            </td>
            <td>
                {{renderHoC heat_of_combustion}} MJ/kg
            </td>
        </tr>
        <tr>
            <td>
                Total Max. Soot Production
            </td>
            <td>
                {{renderSootProduction total_soot_production}} g/s
            </td>
        </tr>
        <tr>
            <td>
                Non-Dimensionalised Ratios
            </td>
            <td>
                <ul>
                    {{#each ndrs}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>
                Sprinklers
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                # Sprinklers
            </td>
            <td>
                {{renderInteger n_sprinklers}}
            </td>
        </tr>
        <tr>
            <td>
                Sprinkler Activation Temperatures
            </td>
            <td>
                <ul>
                    {{#each sprinkler_activation_temperatures}}
                    <li>
                        {{this}}°C
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>
                Detection
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                # Detectors
            </td>
            <td>
                {{renderInteger n_smoke_detectors}}
            </td>
        </tr>
        <tr>
            <td>
                Smoke Detector Obscurations
            </td>
            <td>
                <ul>
                    {{#each smoke_detector_obscurations }}
                    <li>
                        {{this}} %Obs/m
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>
                Ventilation
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                # Extracts
            </td>
            <td>
                {{renderInteger n_extract_vents}}
            </td>
        </tr>
        <tr>
            <td>
                Total Extract Rate
            </td>
            <td>
                <ul>
                    {{total_extract_rate}} m³/s
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                # Supplies
            </td>
            <td>
                {{renderInteger n_supply_vents}}
            </td>
        </tr>
        <tr>
            <td>
                Total Supply Rate
            </td>
            <td>
                <ul>
                    {{total_supply_rate}} m³/s
                </ul>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>
                Domain
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                # Meshes
            </td>
            <td>
                {{renderInteger n_meshes}}
            </td>
        <tr>
            <td>
                # Cells
            </td>
            <td>
                {{renderInteger n_cells}}
            </td>
        </tr>
        <tr>
            <td>
                Mesh Resolutions
            </td>
            <td>
                <ul>
                    {{#each mesh_resolutions }}
                    <li>
                        {{renderResolution this}}
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Ceiling Heights
            </td>
            <td>
                <ul>
                    {{#each ceiling_heights }}
                    <li>
                        {{renderFloat height}} m {{renderFloat area}} m²
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        </tr>
    </tbody>
</table>
